.paper {
  background-color: chartreuse;
  height: 15em;
  width: 25em;
  
  background-image: linear-gradient(45deg, rgba(255,255,255,0.2) 25%, transparent 25%, transparent 50%, rgba(255,255,255,0.2) 50%, rgba(255,255,255,0.2) 75%, transparent 75%, transparent);

  box-shadow: 0px 0px 19px 4px rgba(0, 0, 0, 0.345);

  border-radius: 6px;

  padding: 1em;
}

.paper h1 {
  display: flex;
  justify-content: space-around;
  width: 100%;
}

.inLine {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.inLine .field {
  width: 45%;
}

.fullLine {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.fullLine .field {
  width: 100%;
}

.field {
  display: flex;
  flex-direction: column;
  margin: 0.6em;
  width: 90%;
}

.fieldTitle {
  max-width: 100%;
}

.fieldBody {
  border: 1px solid black;
  max-width: 100%;

  border-radius: 10px;

  padding: 0.5em;
}